<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



<!--     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<!--     <script src="{{ url_for('static', filename='bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}" crossorigin="anonymous"></script> -->


    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="../static/main.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="card grey lighten-3 chat-room">
  <div class="card-body">

    <!-- Grid row -->
    <div class="row px-lg-2 px-2">

      <!-- Grid column -->
      <div class="col-md-12 col-xl-12 pl-md-3 px-lg-auto px-0">

        <div class="chat-message">

          <ul class="list-unstyled chat">
            <li class="d-flex justify-content-between mb-4 bubble">
              <div class="chat-body white p-3 ml-2 z-depth-1">
                <div class="header">
                  <strong>Brad Pitt</strong>
                </div>
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.
                </p>
              </div>
            </li>
            <li class="d-flex justify-content-between mb-4 bubble">
              <div class="chat-body white p-3 ml-2 z-depth-1">
                <div class="header">
                  <strong>Brad Pitt</strong>
                </div>
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.
                </p>
              </div>
            </li>
            <li class="d-flex justify-content-between mb-4 bubble">
              <div class="chat-body white p-3 ml-2 z-depth-1">
                <div class="header">
                  <strong>Brad Pitt</strong>
                </div>
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.
                </p>
              </div>
            </li>
          </ul>

          <div class="form">
              <div class="form-group basic-textarea">
                <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
              </div>
            <button type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
          </div>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
</div>

</body>
</html>
