<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>

    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA8KciAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEQAAAAAAAAAREAAAAAAAABERAAAREREREREAARERERERERABEREREREREAEREREREREQARERERERERABEREREREREAEREREREREQARERERERERAAERERERERAAAAAAAAAAAAAAAAAAAAAAD//wAA/98AAP/PAAD/xwAA/8MAAMADAACAAQAAgAEAAIABAACAAQAAgAEAAIABAACAAQAAwAMAAP//AAD//wAA" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/vendor/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

</head>
<body>

<script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect('http://'+ '{{ ip }}' +':5000');

        var username = '{{ username }}';
        console.log(username);

        document.getElementById('username').innerHTML = username;

        var messages = [];
        var a = [];
        text1 = '<div class="chat-body white p-3 ml-2 z-depth-1"><p class="small">';
        text2 = '</p><p class="message"><strong>';
        text3 = ': </strong>';
        text4 = '</p></div>';

        {% for i in messages %}
            a = []
            {% for key, value in i.items() %}
                a.push({'{{ key }}': '{{ value }}'});
            {% endfor %}
            messages.push(a);
        {% endfor %}

        messages = messages.reverse();

        for (var i = 0; i < messages.length; i++){
            var name = messages[i][1].user;
            var val = messages[i][2].message;
            var parent = $('#list');
            var li = document.createElement('li');
            li.className = 'd-flex justify-content-between mb-4 bubble';
            li.innerHTML = text1 + messages[i][3].timestamp + text2 + name + text3 + val + text4;
            parent.append(li);
        }

        $("#mainform").on('submit', function(e){
            e.preventDefault();
            if($('#exampleFormControlTextarea2').val()) {
                socket.emit('message',
                    {
                        'message': $('#exampleFormControlTextarea2').val(),
                        'user': username
                    });
                $('#exampleFormControlTextarea2').val("");
            } else alert('!')

        });

        socket.on('message_sent', function(msg) {
            var name = msg.user;
            var val = msg.message;
            var parent = $('#list');
            var li = document.createElement('li');
            li.className = 'd-flex justify-content-between mb-4 bubble';
            li.innerHTML = text1 + msg.timestamp + text2 + name + text3 + val + text4;
            parent.append(li);
            console.log(msg);
        });

    });
</script>

<div class="card grey lighten-3 chat-room">
  <div class="card-body">

    <!-- Grid row -->
    <div class="row px-lg-2 px-2">

      <!-- Grid column -->
      <div class="col-md-12 col-xl-12 pl-md-3 px-lg-auto px-0">

        <div class="chat-message">

              <h2>Welcome, <span id="username"></span>!</h2>

          <ul id="list" class="list-unstyled chat"></ul>

          <form id="mainform" action="#">
              <div class="form-group basic-textarea">
                <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
              </div>
              <button id="send_button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
          </form>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
</div>

</body>
</html>
